<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.part.data.mapper.DdRawComponentMapper">
    <insert id="batchInsert">
        INSERT INTO DD_RAW_COMPONENT (
        parent_struct_id, parent_ckid, parent_name, parent_name_en,
        parent_symbol, parent_weight, subnode_type, subnode_ckid,
        subnode_name, subnode_symbol, subnode_weight, subnode_quantity,
        subnode_struct_id, manual_label
        )
        SELECT * FROM (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
            #{item.parentStructId, jdbcType=VARCHAR},
            #{item.parentCkid, jdbcType=VARCHAR},
            #{item.parentName, jdbcType=VARCHAR},
            #{item.parentNameEn, jdbcType=VARCHAR},
            #{item.parentSymbol, jdbcType=VARCHAR},
            #{item.parentWeight, jdbcType=DECIMAL},
            #{item.subnodeType, jdbcType=VARCHAR},
            #{item.subnodeCkid, jdbcType=VARCHAR},
            #{item.subnodeName, jdbcType=VARCHAR},
            #{item.subnodeSymbol, jdbcType=VARCHAR},
            #{item.subnodeWeight, jdbcType=DECIMAL},
            #{item.subnodeQuantity, jdbcType=DECIMAL},
            #{item.subnodeStructId, jdbcType=VARCHAR},
            #{item.manualLabel, jdbcType=VARCHAR}
            FROM DUAL
        </foreach>
        )
    </insert>



    <select id="selectByPage" resultType="com.part.data.entity.DdRawComponentVO">
        SELECT * FROM DD_RAW_COMPONENT
        WHERE ROWNUM &lt;= #{limit} AND ROWNUM &gt; #{offset}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM DD_RAW_COMPONENT
    </select>
</mapper>